<!DOCTYPE html>
<!--xmlns and xmlns:th added to html tag to make editing appear better.
    Has no effect on the code itself
    Modified By: Robbie Squires
    Date: 10/18/2019-->
<html lang="en"      
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    
    <body th:fragment="bodyHeader">
        <div class="containter navbar">
            <div class="container cisis">
                <img style="vertical-align: bottum; float:left " th:src="@{/resources/images/logoHeader.png}" 
                     src="../../../resources/images/logoHeader.png" /><h1>HC-CIS<small>&nbsp;Team Vanilla</small>&nbsp;(<small th:text="${session.db.databaseName}"></small>)</h1>
            </div>

            <div class="navbar-inner" >
                <ul  class="nav">

                    <li class="dropdown" id="menuResources">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menuResources">
                            <span class="glyphicon glyphicon-th-list"></span>&nbsp;Tools
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/" th:href="@{/}"><i class="icon-th-list"></i>Database Details</a></li>                            
                            <li><a href="../codes/codeTypes.html" th:href="@{/codes/codeTypes.html}"><i class="icon-th-list"></i>Code Types</a></li>                 
                            <li><a href="../users/users.html" th:href="@{/users/list.html}"><i class="icon-th-list"></i>Users</a></li>   
                        </ul>
                    </li>


                </ul>
                 <!-- Menu Drop down for Sprint 2
                    modified by: Robbie Squires
                    Date: 10/18/2019-->
                <ul  class="nav">
                    <li class="dropdown" id="menuFileExport">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menuFileExport">
                            <span class="glyphicon glyphicon-th-list"></span>&nbsp;File I/O
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- Responsible: Azzam-->
                            <li><a href="/fitnessMemebers/export.html" th:href="@{/fitnessMembers/export}"><i class="icon-th-list"></i>Export Members</a></li>
                            
                            <!-- Responsible: Robbie-->
                            <li><a href="/court/export.html" th:href="@{/court/export}" th:text="#{court.menu.export}"></a></li>
                            
                            <!-- Responsible: Arman-->
                            <li><a href="../courtbookings/export.html" th:href="@{/courtbookings/export.html}"><i class="icon-th-list"></i>Export Court Bookings</a></li>   
                        </ul>
                    </li>
                </ul>
                 
                <!-- Menu Drop down for Sprint 3
                    modified by: Robbie Squires
                    Date: 11/01/2019-->
                <ul  class="nav">
                    <li class="dropdown" id="webApplication">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#webApplication">
                            <span class="glyphicon glyphicon-th-list"></span>&nbsp;Web Application
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- Responsible: Azzam-->
                            <li><a href="/fitnessMemebers/list.html" th:href="@{/fitnessMembers/list}"><i class="icon-th-list"></i>Fitness Member CRUD</a></li>
                            
                            <!-- Responsible: Robbie-->
                            <li><a href="/court/list.html" th:href="@{/court/list}" th:text="#{court.menu.crud}"></a></li>
                            
                            <!-- Responsible: Arman-->
                            <li><a href="../courtbookings/add.html" th:href="@{/courtbookings/add}"><i class="icon-th-list"></i>Booking a Court</a></li>   
                        </ul>
                    </li>
                </ul>
                
                <!-- Menu Drop down for Sprint 4
                    modified by: Robbie Squires
                    Date: 11/01/2019-->
                <ul  class="nav">
                    <li class="dropdown" id="webApplicationReports">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#webApplicationReports">
                            <span class="glyphicon glyphicon-th-list"></span>&nbsp;WebApp Reports
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- Responsible: Azzam-->
                            <li><a href="/fitnessMemebers/report.html" th:href="@{/fitnessMembers/report}"><i class="icon-th-list"></i>Fitness Members Bookings</a></li>
                            
                            <!-- Responsible: Robbie-->
                            <li><a href="/court/report.html" th:href="@{/court/report}" th:text="#{court.menu.report}"></a></li>
                            
                            <!-- Responsible: Arman-->
                            <li><a href="../courtbookings/report.html" th:href="@{/courtbookings/report.html}"><i class="icon-th-list"></i>Member Usage Report</a></li>   
                        </ul>
                    </li>
                </ul>
                
                <!-- Menu Drop down for Sprint 5
                    modified by: Robbie Squires
                    Date: 11/01/2019-->
                <ul  class="nav">
                    <li class="dropdown" id="webServices">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#webServices">
                            <span class="glyphicon glyphicon-th-list"></span>&nbsp;Web Services
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- Responsible: Azzam-->
                            <li><a href="/fitnessMemebers/service.html" th:href="@{/rest/FitnessMemberService/fitnessmember}"><i class="icon-th-list"></i>Fitness Member Service</a></li>
                            
                            <!-- Responsible: Robbie-->
                            <li><a href="/court/service.html" th:href="@{/court/service}" th:text="#{court.menu.services}"></a></li>
                            
                            <!-- Responsible: Arman-->
                            <li><a href="/BookingService.html" th:href="@{/rest/BookingService/booking}"><i class="icon-th-list"></i>Booking Service</a></li>   
                        </ul>
                    </li>
                </ul>
                 
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../other/help" th:href="@{/other/help}"><i class="icon-question-sign"></i>Help</a></li>
                    <li class="divider"></li>
                    <li><a href="../other/about" th:href="@{/other/about}"><i class="icon-log-out"></i>About</a></li>
                </ul>
            </div>
        </div>
    </body>

</html>