<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title></title>
    </head>
    <body>

        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>
        
        <div class="container" >            

            <h2 th:text='#{court.title.update}'></h2>
            <p th:text="${message}"></p>
            <form th:object="${court}" action="add.html" th:action="@{/court/addSubmit}" method="get" class="form-horizontal">
                <fieldset>
                    <input type="hidden" th:field="${court.id}"/>
                    <table class="table table-striped">
                        <tr>
                            <th th:text='#{court.label.courtNumber}'></th>
                            <td><input type="text" th:field="${court.courtNumber}"/>
                                 <ul th:if="${#fields.hasErrors('courtNumber')}">
                                        <li class="error" th:each="err : ${#fields.errors('courtNumber')}" th:text="${err}">Court number is invalid</li>
                                 </ul><br/>
                            </td>
                        </tr>
                        <tr>
                            <th th:text='#{court.label.courtName}'></th>
                            <td><input type="text" th:field="${court.courtName}"/>
                                 <ul th:if="${#fields.hasErrors('courtName')}">
                                        <li class="error" th:each="err : ${#fields.errors('courtName')}" th:text="${err}">Court name is invalid</li>
                                 </ul><br/>
                            </td>
                        </tr>                        
                        <tr>
                            <th th:text='#{court.label.courtType}'></th>
                            <td>
                                <select th:field="${court.courtType}">
                                    <option th:each="theType : ${session.courtTypes}" th:value="${theType.codeValueSequence}" th:text="${theType.englishDescription}">types here</option>
                                </select>

                            </td>
                        </tr>
                    </table>
                    <div style="text-align: left;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit" th:text='#{court.button.submit}'></button>
                    </div>
                </fieldset>
            </form>
            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>
        </div>
        
    </body>
</html>