<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title th:text='#{court.title.list}'></title>
    </head>
    <body>

        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >  
            <p th:text="${message}"></p>

            <!-- Header -->
            <form  th:object="${person}" action="sayHello (Not used)" th:action="@{/sayhello}" method="get">
                <div class="container" >

                    <div class="container" >            

                        <h2>Courts<a class="btn btn-primary btn-lg" th:href="@{/court/add}" th:text="Add" ></a></h2>
                        

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 150px;" th:text='#{court.label.courtID}'></th>
                                    <th style="width: 150px;" th:text='#{court.label.courtNumber}'></th>
                                    <th style="width: 150px;" th:text='#{court.label.courtName}'></th>
                                    <th style="width: 150px;" th:text='#{court.label.courtType}'></th>
                                    <th th:text='#{court.label.action}'></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="court : ${courts}">

                                    <td th:text="${court.id}"></td>
                                    <td th:text="${court.courtNumber }"></td>
                                    <td th:text="${court.courtName }"></td>
                                    <td th:text="${court.courtTypeDescription}"></td>
                                    <td><a class="btn btn-primary btn-lg"  th:href="@{/court/edit(id=${court.id})}" th:text='#{court.button.edit}'></a>&nbsp;
                                        <a class="btn btn-primary btn-lg"  th:href="@{/court/delete(id=${court.id})}" th:text='#{court.button.delete}'></a></td>
                                </tr>
                            </tbody>
                        </table>    
                    </div>



                </div>
            </form>
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>