<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title th:text='#{court.title.report}'></title>
    </head>
    <body>

        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >  
            <p th:text="${message}"></p>

            <!-- Header -->
            <form  th:object="${criteria}" action="report.html" th:action="@{/court/report}" method="get">
                <div class="container" >

                    
                    <!--Displaying all available courts -->
                    <div class="container" >            
                    
                        <h2>Courts</h2>
                        

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td style="width: 150px;"><button class="btn btn-primary" type="submit" th:text="#{court.button.search}"></button></td>
                                    <td style="width: 150px;"><input data-provide="datepicker" data-date-format="yyyymmdd" th:field="${criteria.dateBooked}" placeholder="Enter Date"/></td>
                                    <td style="width: 150px;">
                                        <select th:field="${criteria.courtType}">
                                            <option th:each="theType : ${session.courtTypes}" th:value="${theType.codeValueSequence}" th:text="${theType.englishDescription}">types here</option>
                                        </select>
                                    </td>
                                    <td style="width: 150px;"><input type="text" th:field="${criteria.startTime}" placeholder="0800" maxlength="4" /></td>
                                    <td style="width: 150px;"><input type="text" th:field="${criteria.endTime}" placeholder="1000" maxlength="4"/></td>
                                </tr>
                                <tr>
                                    <td>Currently Displaying:</td>
                                    <td th:text="${criteriaAC.dateBooked}"></td>
                                    <td th:switch="${criteriaAC.courtType}">
                                        <p th:each="theType : ${session.courtTypes}" th:case="${theType.codeValueSequence}" th:text="${theType.englishDescription}"></p>
                                    </td>
                                    <td th:text="${criteriaAC.startTime}"></td>
                                    <td th:text="${criteriaAC.endTime}"></td>
                                </tr>
                                <tr>
                                    <td colspan="5"></td>
                                </tr>
                                <tr>
                                    <th style="width: 150px;" th:text='#{court.label.courtNumber}'></th>
                                    <th style="width: 150px;" th:text='#{court.label.courtName}'></th>
                                    <th style="width: 150px;" th:text='#{court.label.courtType}'></th>
                                    <th style="width: 150px;" th:text='#{court.label.startTime}'></th>
                                    <th style="width: 150px;" th:text='#{court.label.endTime}'></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="availableCourt : ${availableCourts}">
                                    <td th:text="${availableCourt.courtNumber }"></td>
                                    <td th:text="${availableCourt.courtName }"></td>
                                    <td th:text="${availableCourt.codeDescription}"></td>
                                    <td th:text="${availableCourt.startTime }"></td>
                                    <td th:text="${availableCourt.endTime}"></td>
                                </tr>
                            </tbody>
                        </table>    
                    </div>



                </div>
            </form>
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>