<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Court Services</title>
    </head>
    <body>

        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >  
            <p th:text="${message}"></p>

            <!-- Header -->
            
                <div class="container" >

                    
                    <!--Displaying all available services -->
                    <div class="container" >            
                    
                        <h2>Courts</h2>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th th:text="#{court.label.services}"></th>
                                    <th th:text="#{court.label.url}"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td th:text="#{court.service.retrieveAll}"></td>
                                    <td>vanilla/rest/CourtService/court</td>
                                </tr>
                                <tr>
                                    <td th:text="#{court.service.retrieveOne}"></td>
                                    <td>vanilla/rest/CourtService/court/{courtId}</td>
                                </tr>
                                <tr>
                                    <td th:text="#{court.service.add}"></td>
                                    <td>vanilla/rest/CourtService/court/add</td>
                                </tr>
                            </tbody>
                        </table>  
                    </div>
                </div>
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>