<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>
        <div style="text-align: left;" class="container"  >            
            <p th:text="#{label.overview}">This is a project</p> 
        </div>
        <div style="text-align: left;" class="container"  >         
            <table class="table table-striped">
                <thead>
                    <tr><th>Member Number</th><th>Member Name</th></tr>
                </thead>
                <tbody>
                    <tr><td>1</td><td>Azzam Sheikho</td></tr>
                    <tr><td>2</td><td>Robbie Squires</td></tr>
                    <tr><td>3</td><td>Azzam Arman Alfonso</td></tr>
                </tbody>
            </table>
            This project is based on a sample application provided by Spring.  The structure is based on this 
            project.  
        </div>
        <div style="text-align: right;" class="container"  >            
            Team Vanilla - 2019
        </div>

        <div class="container"  >    
            <object  
                th:data="@{/resources/images/CIS2232_DesignDocument_20192020.pdf}"
                data="../../resources/images/CIS2232_DesignDocument_20192020.pdf" type="application/pdf"            
                width="500" height="500" style="display:block;margin: 0px auto;">
            </object>
        </div> 

        <div class="container">
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>

    </body>

</html>
