<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/headTag :: headTag"><title></title>
    </head>
    <body>
        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>
        <div class="container" >            
            <h2>Add/Edit Fitness Member</h2>
            <p th:text="${message}" style="color: red;"></p>
            <form th:object="${fitnessMember}" action="add.html" th:action="@{/fitnessMembers/addSubmit}" method="get" class="form-horizontal">
                <fieldset>
                    <input type="hidden" th:field="${fitnessMember.id}"/>
                    <table class="table table-striped">
                        <tr>
                            <th>User Id</th>
                            <td>
                                <input type="text" th:field="${fitnessMember.userId}"/> 
                                <ul th:if="${#fields.hasErrors('userId')}">
                                    <li class="error" th:each="err : ${#fields.errors('userId')}" th:text="${err}">User Id is invalid</li>
                                </ul><br/>
                            </td>
                        </tr>
                        <tr>
                            <th>Cell Phone</th>
                            <td>
                                <input type="text" th:field="${fitnessMember.phoneCell}"/>
                                <ul th:if="${#fields.hasErrors('phoneCell')}">
                                    <li class="error" th:each="err : ${#fields.errors('phoneCell')}" th:text="${err}">User Id is invalid</li>
                                </ul><br/>
                            </td>
                        </tr>
                        <tr>
                            <th>Home Phone</th>
                            <td>
                                <input type="text" th:field="${fitnessMember.phoneHome}"/> 
                                <ul th:if="${#fields.hasErrors('phoneHome')}">
                                    <li class="error" th:each="err : ${#fields.errors('phoneHome')}" th:text="${err}">User Id is invalid</li>
                                </ul><br/>
                            </td>
                        </tr>
                        <tr>
                            <th>Work Phone</th>
                            <td>
                                <input type="text" th:field="${fitnessMember.phoneWork}"/>
                                <ul th:if="${#fields.hasErrors('phoneWork')}">
                                    <li class="error" th:each="err : ${#fields.errors('phoneWork')}" th:text="${err}">User Id is invalid</li>
                                </ul><br/>
                            </td>
                        </tr>
                        <tr>
                            <th>Address</th>
                            <td>
                                <input type="text" th:field="${fitnessMember.address}"/>
                                <ul th:if="${#fields.hasErrors('address')}">
                                    <li class="error" th:each="err : ${#fields.errors('address')}" th:text="${err}">User Id is invalid</li>
                                </ul><br/>
                            </td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td>
                                <select th:field="${fitnessMember.status}">
                                    <option th:each="theType : ${session.status}" th:value="${theType.codeValueSequence}" th:text="${theType.englishDescription}">types here</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>Membership Start Date</th>
                            <td>
                                <input type="text" th:field="${fitnessMember.membershipStartDate}"/>
                                <ul th:if="${#fields.hasErrors('membershipStartDate')}">
                                    <li class="error" th:each="err : ${#fields.errors('membershipStartDate')}" th:text="${err}">User Id is invalid</li>
                                </ul><br/>
                            </td>
                        </tr>
                        <tr>
                            <th>Membership End Date</th>
                            <td>
                                <input type="text" th:field="${fitnessMember.membershipEndDate}"/>
                                <ul th:if="${#fields.hasErrors('membershipEndDate')}">
                                    <li class="error" th:each="err : ${#fields.errors('membershipEndDate')}" th:text="${err}">User Id is invalid</li>
                                </ul><br/>
                            </td>
                        </tr>
                    </table>
                    <div style="text-align: left;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit">Submit</button>
                    </div>
                </fieldset>
            </form>
            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>
        </div>
    </body>
</html>