<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>List of Fitness Members</title>
    </head>
    <body>

        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >  
            <p th:text="${message}"></p>

            <!-- Header -->
            <form  th:object="${person}" action="sayHello (Not used)" th:action="@{/sayhello}" method="get">
                <div class="container" >

                    <div class="container" >            

                        <h2>Fitness Members<a class="btn btn-primary btn-lg" th:href="@{/fitnessMembers/add}" th:text="Add" ></a></h2>
                        

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 150px;">Id</th>
                                    <th style="width: 150px;">User Id</th>
                                    <th style="width: 150px;">Cell Phone</th>
                                    <th style="width: 150px;">Home Phone</th>
                                    <th style="width: 150px;">Work Phone</th>
                                    <th style="width: 150px;">Address</th>
                                    <th style="width: 150px;">Status</th>
                                    <th style="width: 150px;">Membership Start Date</th>
                                    <th style="width: 150px;">Membership End Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="fitnessMember : ${fitnessMembers}">
                                    <td th:text="${fitnessMember.id}"></td>
                                    <td th:text="${fitnessMember.userId}"></td>
                                    <td th:text="${fitnessMember.phoneCell}"></td>
                                    <td th:text="${fitnessMember.PhoneHome}"></td>
                                    <td th:text="${fitnessMember.phoneWork}"></td>
                                    <td th:text="${fitnessMember.address}"></td>
                                    <td th:text="${fitnessMember.status}"></td>
                                    <td th:text="${fitnessMember.membershipStartDate}"></td>
                                    <td th:text="${fitnessMember.membershipEndDate}"></td>
                                    <td><a class="btn btn-primary btn-lg"  th:href="@{/fitnessMembers/edit(id=${fitnessMember.id})}">Edit</a>&nbsp;<a class="btn btn-primary btn-lg"  th:href="@{/fitnessMembers/delete(id=${fitnessMember.id})}">Delete</a></td>
                                </tr>
                            </tbody>
                        </table>    
                    </div>
                </div>
            </form>
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>