<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Find Fitness Member Booking</title>
    </head>
    <body>

        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >  
            <p th:text="${message}"></p>

            <!-- Header -->
            <form  th:object="${theBooking}" action="report.html" th:action="@{/fitnessMembers/addSubmitReport}" method="get">
                <div class="container" >

                    <div class="container" >            

                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <td style="width: 150px;">
                                        <button class="btn btn-primary" type="submit">Search</button>
                                    </td>
                                    <td style="width: 150px;">
                                        <select th:field="${theBooking.userId}">
                                            <option th:each="theType : ${session.userList}" th:value="${theType.userId}" th:text="${theType.firstName + ' ' + theType.lastName}">types here</option>
                                        </select>
                                    </td>
                                    <td style="width: 150px;">
                                        <input data-provide="datepicker" data-date-format="yyyymmdd" th:field="${theBooking.startDate}" th:value="20190101" placeholder="Enter Start Date"/>
                                    </td>
                                    <td style="width: 150px;">
                                        <input data-provide="datepicker" data-date-format="yyyymmdd" th:field="${theBooking.endDate}" th:value="20190101" placeholder="Enter Start Date"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6"></td>
                                </tr>
                                <tr>
                                    <th style="width: 150px;">Name</th>
                                    <th style="width: 150px;">Court Number</th>
                                    <th style="width: 150px;">Member Id</th>
                                    <th style="width: 150px;">Member Opponent Id</th>
                                    <th style="width: 150px;">Start Time</th>
                                    <th style="width: 150px;">Notes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="fitnessMemberBooking : ${fitnessMemberBookings}">
                                    <td th:text="${fitnessMemberBooking.fullName}"></td>
                                    <td th:text="${fitnessMemberBooking.courtNumber}"></td>
                                    <td th:text="${fitnessMemberBooking.memberId}"></td>
                                    <td th:text="${fitnessMemberBooking.memberIdOpponent}"></td>
                                    <td th:text="${fitnessMemberBooking.startTime}"></td>
                                    <td th:text="${fitnessMemberBooking.notes}"></td>
                                </tr>
                            </tbody>
                        </table>    
                    </div>
                </div>
            </form>
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>