<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title></title>
    </head>
    <body>
        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >            

            <h2>Book Court</h2>
            <a class="btn btn-primary btn-lg"  th:href="@{/courtbookings/list}">CourtBooking List</a>
            <p th:text="${message}" style="color: red;"></p>
            <form th:object="${courtBooking}" action="add.html" th:action="@{/courtbookings/addSubmit}" method="get" class="form-horizontal">
                <fieldset>
                    <input type="hidden" th:field="${courtBooking.id}" th:value="0"/>
                    <input type="hidden" th:field="${courtBooking.createdDate}"/>
                    <table class="table table-striped">
                        <tr>
                            <th>Member</th>
                            <td>
                                <select th:field="${courtBooking.memberId}">
                                    <option th:each="member : ${fitnessMemberNUsers}" 
                                            th:value="${member.fitnessMemberId}" th:text="${member.name}">Member</option>
                                </select>

                            </td>
                        </tr>
                        <tr>
                            <th>Opponent Member</th>
                            <td>
                                <select th:field="${courtBooking.memberIdOpponent}">
                                    <option th:each="member : ${fitnessMemberNUsers}"
                                               th:value="${member.fitnessMemberId}" th:text="${member.name}">Member</option>
                             </select>

                            </td>
                        </tr>
                        <tr>
                            <th>Court Name</th>
                            <td>
                                <select th:field="${courtBooking.courtNumber}">
                                    <option th:each="court : ${courts}" 
                                            th:value="${court.courtNumber}" th:text="${court.courtName}">Court Name</option>
                                </select>

                            </td>

                        </tr>
                        <tr>
                            <th>Booking Date</th>
                            <td><input type="text" th:field="${courtBooking.bookingDate}"/>
                                 <ul th:if="${#fields.hasErrors('bookingDate')}">
                                        <li class="error" th:each="err : ${#fields.errors('bookingDate')}" th:text="${err}">Booking date invalid</li>
                                 </ul><br/>
                            </td>
                        </tr>                         
                        <tr>
                            <th>Start Time</th>
                            <td>
                                <select th:field="${courtBooking.startTime}">
                                    <option th:each="courtTime : ${courtTimes}" 
                                            th:value="${courtTime.startTime}" th:text="${courtTime.startTime}">CourtTime</option>
                                </select>

                            </td>
                            <!--
                            <td><input type="text" th:field="${courtBooking.startTime}"/>
                                 <ul th:if="${#fields.hasErrors('startTime')}">
                                        <li class="error" th:each="err : ${#fields.errors('startTime')}" th:text="${err}">Start Time invalid</li>
                                 </ul><br/>
                            </td> -->
                        </tr>                         
                        
                        <tr>
                            <th>Notes</th>
                            <td><input type="text" th:field="${courtBooking.notes}"/>
                                 <ul th:if="${#fields.hasErrors('notes')}">
                                        <li class="error" th:each="err : ${#fields.errors('notes')}" th:text="${err}">Court note is invalid</li>
                                 </ul><br/>
                            </td>
                        
                        </tr>
                    </table>
                    <div style="text-align: left;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit">Submit</button>
                    </div>
                </fieldset>
            </form>
            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>


        </div>






    </body>

</html>