<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>List of Court Bookings</title>
    </head>
    <body>

        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >  
            <p th:text="${message}"></p>

            <!-- Header -->
            <form  th:object="${courtBooking}" action="sayHello (Not used)" th:action="@{/courtbookings/addSubmit}" method="get">
                <div class="container" >

                    <div class="container" >            

                        <h2>Court Bookings <a class="btn btn-primary btn-lg" th:href="@{/courtbookings/add}" th:text="Add" ></a></h2>
                        

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 150px;">ID</th>
                                    <th style="width: 150px;">Court Name</th>
                                    <th style="width: 150px;">Booking Date</th>
                                    <th style="width: 150px;">Start Time</th>
                                    <th style="width: 150px;">Member</th>
                                    <th style="width: 150px;">Opponent</th>
                                    <th style="width: 150px;">Notes</th>
                                    <th style="width: 150px;">Created Date</th>
                                    
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="courtBooking : ${courtBookings}">

                                    <td th:text="${courtBooking.id}"></td>
                                    <td th:text="${courtBooking.courtName}"></td>
                                    <td th:text="${courtBooking.bookingDate}"></td>
                                    <td th:text="${courtBooking.startTime}"></td>
                                    <td th:text="${courtBooking.memberName}"></td>
                                    <td th:text="${courtBooking.opponentName}"></td>
                                    <td th:text="${courtBooking.notes}"></td>
                                    <td th:text="${courtBooking.createdDate }"></td>
                                    <td><a class="btn btn-primary btn-lg"  th:href="@{/courtbookings/edit(id=${courtBooking.id})}">Edit</a>&nbsp;<a class="btn btn-primary btn-lg"  th:href="@{/courtbookings/delete(id=${courtBooking.id})}">Delete</a></td>
                                
                                    </tr>
                            </tbody>
                        </table>    
                    </div>



                </div>
            </form>
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>