<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title></title>
    </head>
    <body>
        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >            

            <h2>Member Usage</h2>
            <p th:text="${message}" style="color: red;"></p>
            <p>Enter Start and End Booking Date</p>
            <form th:object="${memberUsage}" action="report.html" th:action="@{/courtbookings/addReport}" method="get" class="form-horizontal">
                <fieldset>
                    <table class="table table-striped">
                        <tr>
                                <td style="width: 150px;"><button class="btn btn-primary" type="submit">Search</button></td>
                                <td style="width: 150px;"><input data-provide="datepicker" data-date-format="yyyymmdd" th:field="${memberUsage.startDate}" th:value="20190101" placeholder="Enter Start Date"/></td>
                                <td style="width: 150px;"><input data-provide="datepicker" data-date-format="yyyymmdd" th:field="${memberUsage.endDate}" th:value="20190101" placeholder="Enter End Date"/></td>
                        </tr>
                                
                       
                        
                    </table>
                    <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 150px;">Fitness Member</th>
                                    <th style="width: 150px;">Number of Bookings</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="usage : ${memberusages}">

                                    <td th:text="${usage.memberName}"></td>
                                    <td th:text="${usage.noOfBookings}"></td>
                                   
                                    </tr>
                            </tbody>
                        </table>    

                </fieldset>
            </form>
            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>


        </div>






    </body>

</html>