@charset "UTF-8";
/* CSS Document */
#wrapper {
	width: 1242px;
	margin: 0px auto; 
}

body {
	background-color: #FBF3CC;
}

#topnav {
	height: 80px;
	background-color: #19130F
}

#topnav2 {
	height: 80px;
	background-color: #19130F
}


.topnav2 a#about {
	font-family: 'Oswald', sans-serif;
	font-weight: 700px;
	font-size: 80px; 
	color: #EBD7A4;
	text-decoration: none;
	position: relative;
	top: -60px;
	left: 80px;
}

.topnav a#logo {
	position: relative;
	left: 480px;
	top: -54px;
}

.topnav2 a#help {
	font-family: 'Oswald', sans-serif;
	font-weight: 700px;
	font-size: 80px; 
	color: #EBD7A4;
	text-decoration: none;
	position: relative; 
	top: -60px;
	left: 850px; 
}

h1{
	font-family: 'Oswald', sans-serif;
	font-weight: 500px;
	font-size: 50px; 
	color: #19130F;
	margin-top: 10px;
	margin-bottom: 5px
}
table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 15px;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
	background-color: #19130F;
	color: #EBD7A4;
	height: 50px;
	font-family: 'Oswald', sans-serif;
	font-weight: 500px;
	font-size: 25px; 
	font-kerning: normal; 	
}

tr:nth-child(odd){
	background-color: #EBD7A4
}

td {
   font-family: 'Oswald', sans-serif;
	font-weight: 400px;
	font-size: 15px;
	color: #19130F;
}

.button {
  background-color: #C96D2F;
  border: none;
  color: #FBF3CC;
  font-family: 'Oswald', sans-serif;
  font-weight: 500px;
  font-size: 20px; 
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#bottomnav {
	height: 120px;
	background-color: #19130F;
	overflow: hidden;
    position: relative;
    bottom: 0; 
	width: 1242px;
	margin-top: 80px;
	 
}

.bottomnav a {
	font-family: 'Oswald', sans-serif;
	font-weight: 600px;
	font-size: 50px; 
	color: #EBD7A4;
	text-decoration: none;
	float: left;
    padding: 20px;
	width: 16%;
	text-align: center;
}
